<!DOCTYPE html>
<html>
<head>
  <title>Finance</title>
  <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans:300,400,600,700" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <header class="navbar  navbar-inverse">
    <div class="navbar-class">
      <div class="container">


      <!-- Collect the nav links, forms, and other content for toggling -->

        <ul class="nav navbar-nav">
          <li class="active"><a href="#">DATE</a></li>
          <li class="passive"><a href="#">TIME</a></li>
          <li><a href="#">AMOUNT</a></li>
          
        </ul>


      </div>
    </div>
  </header>

<%= yield %>

</body>
</html>
